@tailwind preflight;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

body {
  color: config("colors.grey-darker");
  font-family: "system-ui", sans-serif;
}

a {
  color: config("colors.ggreen");
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  color: config("colors.grey-darker");
  font-family: "Baloo Bhai", cursive;
  margin-bottom: 20px;
  margin-top: 10px;
}

h2,
h3 {
  font-family: "Baloo Bhai", cursive;
}
